---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <div class="flex justify-center items-center">
      <img
        class="rounded-full w-50 h-50"
        src="/zzy-sunglasses.png"
        alt="self head"
      />
    </div>
    <p class="flex justify-center items-center gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <div style="display: none">
      <!--帮助渲染图标，不知道原因-->
      <span class="i-mdi-github"></span>
      <span class="i-mdi-email"></span>
      <span class="i-mdi-wechat"></span>
      <span class="i-ant-design-qq-outlined"></span>
    </div>
    <h1 class="text-title">Zzy</h1>
    <p>
      <b>zzy</b>, a full-stack development engineer, is passionate about
      front-end technologies and has a passion for technical learning. The
      website is built using <a href="https://astro.build/">Astro</a>
      and the template is from
      <a href="https://github.com/kieranwong9865/astro-theme-vitesse"
        >kieranwong9865/astro-theme-vitesse</a
      >. The style design refers to <a target="_blank" href="https://antfu.me"
        >antfu.me</a
      >. And he is also my worshiper on the programming path.
    </p>
    <p>The technology stacks I'm familiar with or knew:</p>
    <ul>
      <li>Java, Python, JavaScript, TypeScript</li>
      <li>Vue, Astro</li>
      <li>HTML & CSS</li>
      <li>Markdown, Git</li>
    </ul>

    <p>
      If you have any questions, please email me at
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
