---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <div class="flex justify-center items-center">
      <img class="rounded-full w-50 h-50" src="/zzy.png" alt="self head" />
    </div>
    <h1 class="text-title">Zzy</h1>
    <p>
      我叫zzy，是一名计算机专业的学生，对前端技术充满热情，并且热衷于提升自己的技术能力。
    </p>
    <p>
      该网站使用 <a href="https://astro.build/">Astro</a> 搭建。构建模板来自于<b
        >@kieranwong9865/astro-theme-vitesse</b
      >， 参考<a target="_blank" href="https://antfu.me">antfu.me</a
      >(大神)，同时他也是我在编程道路上的偶像。
    </p>
    <p>以下是我目前掌握或者了解过的<b>技术栈</b>：</p>
    <ul>
      <li>Java</li>
      <li>Python</li>
      <li>JavaScript, TypeScript, HTML & CSS</li>
      <li>Vue, Astro</li>
      <li>Markdown, Git</li>
    </ul>
    <p>
      By the way, this theme use the <a
        target="_blank"
        href="https://unocss.dev/">UnoCSS</a
      > for style, it's fast.
    </p>
    <p>
      Visit it
      <a
        target="_blank"
        href="https://github.com/kevinwong865/astro-theme-vitesse"
      >
        on GitHub
      </a>
      to fork the repository, read the docs or one-click deploy on Netlify.
    </p>
    <p>
      If you like Vitesse theme for Astro, please
      <a target="_blank" href="https://github.com/kevinwong865">
        click follow
      </a>
      for me.
    </p>
    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      If you have any questions, please email me at
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
